<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  Username:<%= f.text_field :username, :value => "Jon Smith" %>
  Email:<%= f.text_field :email, :value => "example@example.com" %>
  Password:<%= f.password_field :password %>
  <%= f.submit "Submit" %>
  
<% end %>